/* Fontes:

Inter 400, 700

*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@mixin flex-centralize {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin inter($font-size, $weight, $line-height) {
    font-family: "Inter";
    font-style: normal;
    font-size: $font-size;
    font-weight: $weight;
    line-height: $line-height;
}

$mainsize: 18px;
$salvaguardas: 20px;

* {
    margin: 0;
    padding: 0;
}

body {
    @include flex-centralize();
    background-image: url("../images/bgficha.png");
    background-size: cover;
    background-attachment: fixed;
}

nav {
    @include flex-centralize();
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #161616;

    img {
        /* fazendo a logo não ser selecionável */
        user-select: none;
        -webkit-user-drag: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

.carousel {
    height: 50px;
    margin-top: 5px;

    button {
        width: 8%;
    }

    .carousel-inner {
        display: flex;
        width: 85%;
        margin: 0 auto 0 auto;
        height: 100%;

        .carrosel-dentro {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                @include inter($mainsize, 400, 29px);
                text-align: center;
                color: white;

                list-style: none;
                // text-decoration: underline;
                user-select: none;

                padding: 0;
                margin-bottom: 0;
                width: 100%;

                display: flex;
                justify-content: space-around;

                li {
                    border-bottom: 1px white solid;
                }
            }
        }
    }
}

.flex {
    display: flex;
    align-items: center;
}

main {
    width: 80%;
    margin: 50px 0 50px 0;
    display: flex;
    color: white;
    height: min-content;

    td {
        text-align: right;
    }

    .info-principal {
        width: 30%;
        @include flex-centralize();

        .img-div {
            height: 9vw;
            width: 9vw;
            border-radius: 50%;
            border: 6px solid white;
            margin-top: 50px;
        }

        h1 {
            @include inter(24px, 700, 38px);
            margin: 25px 0 15px 0;
            text-align: center;
        }

        h3 {
            @include inter(19px, 400, 27px);
        }

        .vida {
            margin-bottom: 30px;
        }

        table {
            @include inter(17px, 400, 24px);
            width: 80%;
            margin: 0 0 20px 0;
            border-collapse: separate;
            border-spacing: 5px;
        }
    }

    .info {
        width: 70%;
        @include flex-centralize();
        padding-bottom: 20px;

        > div,
        section {
            width: 90%;
        }

        h2 {
            @include inter($mainsize, 700, 29px);
            margin-top: 10px;
        }

        .detalhes {
            display: flex;
            // gap: 10px;
            flex-wrap: wrap;
            justify-content: space-between;
            // padding-bottom: 50px;

            > div {
                width: 48%;
                padding-bottom: 20px;
            }

            input {
                margin: 0 21px 0 3px;
            }

            textarea {
                width: 100%;
                height: max-content;
            }

            label {
                @include inter(16px, 400, 24px);

                span {
                    margin-left: 10px;
                }
            }

            p {
                @extend label;
                display: flex;
                align-items: center;
                text-align: justify;

                svg {
                    margin-right: $salvaguardas;
                }

                b,
                span {
                    margin-left: $salvaguardas;
                }
            }

            .salvaguardas {
                > div {
                    margin-top: 10px;
                }
            }

            .equips {
                > div {
                    @include flex-centralize();
                }
                table {
                    width: 35%;
                }
            }

            .magias {
                h2 {
                    margin-right: 10px;
                }

                select {
                    height: 220px;
                }
            }
        }

        .historia {
            p {
                text-align: justify;
            }
        }
    }
}