@charset "UTF-8";
/* Fontes:

Inter 400, 700

*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/bgficha.png");
  background-size: cover;
  background-attachment: fixed;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #161616;
}
nav img {
  /* fazendo a logo não ser selecionável */
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.carousel {
  height: 50px;
  margin-top: 5px;
}
.carousel button {
  width: 8%;
}
.carousel .carousel-inner {
  display: flex;
  width: 85%;
  margin: 0 auto 0 auto;
  height: 100%;
}
.carousel .carousel-inner .carrosel-dentro {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel .carousel-inner .carrosel-dentro ul {
  font-family: "Inter";
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  color: white;
  list-style: none;
  user-select: none;
  padding: 0;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.carousel .carousel-inner .carrosel-dentro ul li {
  border-bottom: 1px white solid;
}

.flex {
  display: flex;
  align-items: center;
}

main {
  width: 80%;
  margin: 50px 0 50px 0;
  display: flex;
  color: white;
  height: min-content;
}
main td {
  text-align: right;
}
main .info-principal {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
main .info-principal > div {
  margin-bottom: 10px;
}
main .info-principal > div > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
main .info-principal .img-div {
  height: 9vw;
  width: 9vw;
  border-radius: 50%;
  border: 6px solid white;
  margin: 50px 0 0 0;
}
main .info-principal h1 {
  font-family: "Inter";
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  margin: 25px 0 15px 0;
  text-align: center;
}
main .info-principal h3 {
  font-family: "Inter";
  font-style: normal;
  font-size: 19px;
  font-weight: 400;
  line-height: 27px;
  margin: 0;
}
main .info-principal h4 {
  font-family: "Inter";
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  margin: 0;
}
main .info-principal .vida {
  margin: 10px 0 30px 0;
}
main .info-principal table {
  font-family: "Inter";
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  width: 80%;
  margin: 0 0 20px 0;
  border-collapse: separate;
  border-spacing: 5px;
}
main .info {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
main .info > div,
main .info section {
  width: 90%;
}
main .info h2 {
  font-family: "Inter";
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
  margin-top: 10px;
}
main .info .detalhes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .info .detalhes > div {
  width: 48%;
  padding-bottom: 20px;
}
main .info .detalhes input {
  margin: 0 21px 0 3px;
}
main .info .detalhes textarea {
  width: 100%;
  height: max-content;
}
main .info .detalhes label, main .info .detalhes p, main .info .detalhes pre {
  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
main .info .detalhes label span, main .info .detalhes p span, main .info .detalhes pre span {
  margin-left: 10px;
}
main .info .detalhes p, main .info .detalhes pre {
  display: flex;
  align-items: center;
  text-align: justify;
}
main .info .detalhes p svg, main .info .detalhes pre svg {
  margin-right: 20px;
}
main .info .detalhes p b, main .info .detalhes pre b,
main .info .detalhes p span,
main .info .detalhes pre span {
  margin-left: 20px;
}
main .info .detalhes pre {
  width: 100%;
  white-space: break-spaces;
}
main .info .detalhes .salvaguardas > div {
  margin-top: 10px;
}
main .info .detalhes .equips > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .info .detalhes .equips table {
  width: 35%;
}
main .info .detalhes .magias h2 {
  margin-right: 10px;
}
main .info .detalhes .magias select {
  height: 220px;
}
main .info .detalhesfora pre {
  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  width: 100%;
  white-space: break-spaces;
}