@import url('https://fonts.googleapis.com/css2?family=Trirong:wght@300;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {background-color: black;}

.opcoesinicio{
    position: absolute;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.logoinicio{
    width:200px;
    height:60px;
    margin-left: 80px;
}

.botoesinicio{
    flex-direction: row;
    /* margin-left: 400px; */
    width: 70%;
}

.botoesinicio > div {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    margin-left: 450px;
}

.imagem {
    width: 30%;
}

a{
    color: white;
    background-color: black;
    font-size: 20px;
    /* margin-left: 100px; */
    text-decoration: none;
    margin-top: 20px;
}

.cadastroinicial{
    border: white 1px solid;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    text-align: center;
}

.fundoinicio{
    width: 100%;
    height: 100vh;
    display: grid;
    
    align-items: center;
    color: white;
    align-content: space-between;
}

.textoinicio{
    width: 50%;
    text-align: right;
    margin-right: 30px;
    font-family: 'Trirong';
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 60px;
    justify-self: right;
    margin-top: 40vh;
}

.textoinicio span {
    font-weight: 600;
    font-size: 50px;
}

.textobaixo {
    justify-self: center;
    margin-bottom: 20px;
}

.iniciorpg{
    width: 100%;
    height: 400px;
}