@import url('https://fonts.googleapis.com/css2?family=Trirong:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
    margin: 0px;
    padding: 0px;
}

body {background-color: black;}

.opcoesinicio{
    position: absolute;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 999;
}

.logoinicio{
    width:200px;
    height:60px;
    margin-left: 80px;
}

.botoesinicio{
    flex-direction: row;
    /* margin-left: 400px; */
    width: 70%;
}

.botoesinicio > div {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    margin-left: 450px;
}

.imagem {
    width: 30%;
}

a{
    color: white;
    background-color: black;
    font-size: 20px;
    /* margin-left: 100px; */
    text-decoration: none;
    margin-top: 20px;
}

.cadastroinicial{
    border: white 1px solid;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    text-align: center;
}

.fundoinicio{
    width: 100%;
    height: 100vh;
    display: grid;
    
    align-items: center;
    color: white;
    align-content: space-between;
    z-index: 1;
    position: relative;
}

.textoinicio{
    width: 50%;
    text-align: right;
    margin-right: 30px;
    font-family: 'Trirong';
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 60px;
    justify-self: right;
    margin-top: 40vh;
}

.textoinicio span {
    font-weight: 600;
    font-size: 50px;
}

.textobaixo {
    justify-self: center;
    margin-bottom: 20px;
}

.iniciorpg{
    width: 100%;
    height: 450px;
    background-color: #232323;
    position: relative;
}

.iniciorpg img {
    position: absolute;
    top: -70%;
    left: 15%;
    z-index: 0;
    mix-blend-mode: overlay;
    /* transform: rotate(-26.61deg); */
}

.iniciorpg1{
    display: flex;
    justify-content:left;
    align-items:flex-start;
    flex-direction: column;
    margin: 0px;
    padding: 30px;
    color: white;
    max-width: 650px;
    font-family: 'Trirong';
    font-size: 22px;
    padding-top: 60px;
}

hr {
    border: dashed 1px white;
    width: 40%;
}

.iniciorpg2 {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    width: 1583px;
    height: 600px;
}

.iniciorpg3 {
    color: white;
    max-width: 668px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 850px;
    font-family: 'Trirong';
    font-size: 25px;
}

.iniciorpg4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    color: white;
    align-items: center;
    background-color: #232323;
}

.iniciorpg4 img {
    width: 400px;
}

.iniciorpg5{
    background-color: #232323;
    width: 100%;
    height: 2800px;
}

.iniciorpg6{
    width: 1200px;
    height: 880px;
    background-color: #1D1D1D;
    margin-left: 200px;
}

.iniciorpg6 img{
    width: 800px;
    margin-left: 220px;
    margin-top: 50px;
}

.iniciorpg6 h1{
    color:white;
    display: flex;
    justify-content: center;
    font-family: 'Maitree', serif;
}

.iniciotexto1 {
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: 'Maitree', serif;
    font-size: 20px;
}

.iniciotexto2{
    max-width: 800px;
    margin-left: 200px;
    font-family: 'Lora', serif;
    font-size: 20px;
}

.iniciotexto3{
    margin-top: 30px;
    max-width: 800px;
    margin-top: 40px;
    margin-left: 200px;
    font-size: 20px;
    font-family: 'Lora', serif;
}

.iniciorpg7{
    width: 1200px;
    height: 880px;
    margin-top: 100px;
    background-color: #1D1D1D;
    margin-left: 200px;
}

.iniciorpg7 img{
    width: 800px;
    margin-left: 220px;
    margin-top: 50px;
}

.iniciorpg7 h1{
    color:white;
    display: flex;
    justify-content: center;
    font-family: 'Maitree', serif;
    max-width: 800px;
    margin-left: 220px;
    font-size: 20px;
}

.iniciorpg8{
    width: 1200px;
    height: 780px;
    margin-top: 100px;
    background-color: #1D1D1D;
    margin-left: 200px;
}

.iniciorpg8 img{
    width: 800px;
    margin-left: 220px;
    margin-top: 50px;
}


.iniciorpg8 h1{
    color:white;
    display: flex;
    justify-content: center;
    font-family: 'Maitree', serif;
    max-width: 800px;
    margin-left: 220px;
    font-size: 20px;
}

.fucker{
    color: black;
    height: 30px;
}