@import url("https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap");

main {
    display: flex;
}

main > a {
    width: 33.33333%;
    height: 100vh;

    background-position: 50% 50%;
    background-size: cover;
    box-shadow: inset 0px 0px 100px 50px rgba(0, 0, 0, 0.7);
    
    display: flex;
    align-items: center;
    justify-content: center;

    text-shadow: 0px 0px 10px #000000;
    text-decoration: none;
    text-align: center;
    font-size: 32pt;
    color: white;
}

main > a:hover {
    color: inherit;
    box-shadow: inset 0px 0px 20px 10px rgba(255, 255, 255, 0.6);
    text-shadow: 0px 0px 10px #FFF;
    
    transition: 0.5s ease-out;
}

main > a > h1 {
    flex-direction: column;
    font-family: "IM Fell DW Pica SC", serif;
}
