/* Fontes:

Inknut Antiqua 400
Cormorant Infant 700

*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&family=Inknut+Antiqua&display=swap");
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main hr {
  opacity: 1;
}
main a {
  color: inherit;
  text-decoration: none;
}
main a:hover {
  color: inherit;
}

.mundos {
  width: 90%;
}
.mundos > hr {
  margin: 20px 0 20px 0;
}

h1 {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0.15em;
  margin-top: 35px;
}

.meus-mundos {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  margin: 0 auto 0 auto;
}

.card-mundo {
  width: 32.666%;
  height: 605px;
  background: #181818;
  margin-bottom: 2%;
}
.card-mundo img {
  width: 100%;
  height: 350px;
}

.criar-mundo {
  width: 32.666%;
  height: 605px;
  background: #181818;
  font-family: "Inknut Antiqua";
  font-style: normal;
  font-weight: 400;
  font-size: 1.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 98px;
  text-align: center;
}

.desc {
  width: 80%;
  margin: 0 auto 0 auto;
}
.desc h3 {
  font-family: "Inknut Antiqua";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 35px;
  text-align: center;
  margin: 20px 0;
}
.desc table {
  width: 100%;
  margin-top: 25px;
}
.desc table td {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  padding-bottom: 5px;
  text-align: right;
}
.desc table th {
  display: flex;
  align-items: center;
}
.desc table th span {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  margin-left: 15px;
}

#divBusca{
  background-color:#232323;
  border:solid 1px;
  border-radius:15px;
  width:800px;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:32px;
  width:760px;
}

.buscarMundos{
  display: flex;
   margin-top: 20px;
}