/* Fontes:

Inknut Antiqua 400
Cormorant Infant 700

*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&family=Inknut+Antiqua&display=swap");

$description-size: 20px;
$img-size: 136px;

@mixin card {
    width: 32.666%;
    height: 465px;

    background: #181818;
}

@mixin inknut($size) {
    font-family: "Inknut Antiqua";
    font-style: normal;
    font-weight: 400;
    font-size: $size;
}

@mixin cinzel($size) {
    font-family: "Cinzel";
    font-style: normal;
    font-weight: 400;
    font-size: $size;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    hr {
        opacity: 1;
    }
}

.personagens {
    width: 90%;

    > hr {
        margin: 20px 0 20px 0;
    }

    > h1 {
        @include cinzel(35px);
        line-height: 35px;
        letter-spacing: 0.15em;
        margin-top: 35px;
    }
}


.meus-personagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1%;
    margin: 0 auto 0 auto;
}

.meus-personagens > div {
    @include card;
    margin-bottom: 2%;
    color: inherit;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    
    .card-color {
        width: 100%;
        height: 104px;
        position: relative;
        display: flex;
        justify-content: center;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;

        img {
            width: $img-size;
            height: $img-size;
            position: absolute;
            bottom: $img-size / -2;
            border: 6px solid #FFFFFF;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

.criar-personagem {
    @include card;
    @include inknut(1.75em);

    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    text-decoration: none;
    line-height: 98px;
    text-align: center;
}

.criar-personagem:hover {
    color: inherit;
}

.card-personagem {
    height: 100%;
}

.desc {
    width: 80%;
    margin: 4em auto 0 auto;

    .buttons {
        margin: 5em 0 0 0;
        display: flex;
        justify-content: space-between;
    }

    hr {
        margin: 0.5em 0;
    }

    h3 {
        @include inknut(21px);
        line-height: 35px;

        text-align: center;
    }

    table {
        width: 100%;
        margin-top: 25px;

        td {
            font-family: "Cormorant Infant";
            font-style: normal;
            font-weight: 700;
            font-size: $description-size;
            line-height: 35px;
            padding-bottom: 5px;
            text-align: right;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 65px;
        }

        th {
            display: flex;
            align-items: center;

            span {
                @include cinzel($description-size);
                line-height: 35px;
                margin-left: 15px;
            }
        }
    }
}

.modal-content {
    background-color: #1c1c1c;

    > div {
        border: none;
    }

    .modal-footer {
        button {
            background-color: #E12323;
            border: none;
        }
        
        button:focus {
            box-shadow: 0px 0px 8px #e12323;
            background-color: #E12323;
        }
    }
    
}