@mixin nome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

$tamanho: 20px;

nav {
    font-size: $tamanho;
    @include nome;
    
    li {
        list-style: armenian;
        @include nome;
        font-size: $tamanho;
    }
}
